@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;     
}
.container-md{
    background-image: url("images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
    background-color: hsl(244, 38%, 16%);
    position: relative;
}




.container-md::before{
    content: "";
    background-color: hsla(310, 73%, 46%, 0.6);
    width: 50%;
    height: 100%;
    left: 50%;
    border-radius: 0px 8px 8px 0px;
    position: absolute;
}

footer{
    bottom: 0;
}

