@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;     
}
.container{
    background-color: hsl(244, 38%, 16%);
}
.container .row .coluna1{
    width: 25%;
}
.coluna-imagem{
    background-image: url("images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/*  
@media screen and (max-width: 425px) {
    .body{
               background-image: url("images/image-header-mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    .container .row .coluna1{
        margin-top: 50%;
        width: 100%;
        height: 100vh;
    }
    .coluna-imagem{
        display: none;
    }
}

